{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="s003">
    <h1 style="text-align: center; width: 47%; color: #64CCC5" >
        <a style="color: #64CCC5; text-decoration: none" href="{{ path('app_main') }}" >ProNetwork</a>
        <span style="font-weight: normal; font-size: 10px; color: #000" >RDC</span>
    </h1>
    <div style="blog-content" >
        <p class="cgu-text" >
            Bienvenue sur ProNetwork . Lorsque vous visitez, consultez, utilisez ou accédez à notre site Web pronetwork.cd et à tout sous-domaine applicable de celui-ci, ou à toute application, application mobile, fonctionnalité, contenu, matériel ou autre service en ligne fourni par ProNetwork (collectivement, la « Plateforme »), que ce soit en tant qu'invité ou utilisateur enregistré, vous acceptez les termes et conditions suivants (« Conditions d'utilisation »), veuillez donc prendre quelques minutes pour lire les conditions d'utilisation ci-dessous.

            <br/><br/><b/>Acceptation des conditions d'utilisation</b><br/><br/>

            Si vous n'acceptez pas ces conditions d'utilisation, vous n'êtes pas autorisé à utiliser la plateforme. ProNetwork peut modifier ces conditions d'utilisation à tout moment et sans préavis. Il est de votre responsabilité de consulter ces conditions d'utilisation, car elles créent un accord juridique contraignant entre vous et ProNetwork . Si vous utilisez la Plateforme après avoir modifié l'une des Conditions d'utilisation, vous acceptez toutes les modifications. Dans la mesure où vous ou votre employeur (dans la mesure où vous utilisez la Plateforme en votre qualité d'agent de votre employeur) avez conclu un autre accord écrit avec ProNetwork qui contient des conditions qui entrent directement en conflit avec les conditions des présentes Conditions d'utilisation, alors les conditions contradictoires énoncées dans cet autre accord prévaudront.

            <br/><br/><b>Admissibilité</b><br/><br/>

            Tout accès ou utilisation de la Plateforme par toute personne de moins de 18 ans est interdit. En acceptant ces conditions d'utilisation, vous déclarez et garantissez que vous avez 18 ans ou plus et que vous avez la capacité juridique de conclure et de respecter ces conditions d'utilisation.

           <br/><br/><b>Confidentialité</b><br/>

            Toute information personnelle soumise dans le cadre de votre utilisation de la Plateforme est soumise à notre politique de confidentialité disponible à l'adresse (la « Politique de confidentialité »), qui est incorporée aux présentes par cette référence. Nous utiliserons les informations vous concernant que nous obtenons directement de vous ou que nous obtenons via votre utilisation de la Plateforme conformément à notre Politique de confidentialité uniquement dans le but de vous fournir et d'améliorer la Plateforme.

            <br/><br/><b>Compte et sécurité</b><br/><br/>

            Vous devrez peut-être créer un compte pour utiliser certaines fonctionnalités de la Plateforme. Lorsque vous créez votre compte, vous devez nous fournir des informations exactes et complètes. Cela signifie que vous ne pouvez pas créer de compte en utilisant un nom ou des coordonnées qui ne vous concernent pas, et vous devez fournir des informations exactes et à jour sur tous les formulaires d'inscription qui font partie de la Plateforme. En accédant à un tel compte, vous déclarez et garantissez que vous avez été autorisé à le faire par ProNetwork et que vous le faites uniquement en utilisant les informations d'identification qui vous ont été délivrées par ProNetwork. Vous ne pouvez utiliser aucun compte appartenant à une autre personne sans l’autorisation écrite expresse et préalable de ProNetwork. Vous êtes entièrement responsable de votre compte et de tout ce qui se passe sur votre compte. Cela signifie que vous devez faire attention à votre mot de passe. Si vous découvrez que quelqu'un utilise votre compte sans votre autorisation, vous devez nous en informer immédiatement. Vous ne pouvez pas transférer votre compte à quelqu'un d'autre et cela pourrait engager votre responsabilité civile ou pénale. Nous ne sommes pas responsables des dommages ou pertes causés par quelqu'un utilisant votre compte sans votre autorisation.

            <br/><br/><b>Matériaux exclusifs</b><br/><br/>

            La Plateforme contient des éléments protégés par le droit d'auteur, des marques déposées, des informations exclusives et confidentielles et la propriété intellectuelle de ProNetwork et des concédants de licence de ProNetwork (collectivement, les « Matériaux exclusifs »), y compris, sans limitation, le code source, la vidéo, le texte, les logiciels, les photos, les graphiques, les images, la musique. , Et le son. Vous acceptez de ne pas modifier, publier, transmettre, participer au transfert ou à la vente, créer des œuvres dérivées ou exploiter de quelque manière que ce soit, en tout ou en partie, tout matériel exclusif. Les éléments exclusifs ne sont accessibles que via la plate-forme, et non via ou à partir de tout autre site ou moyen. Le droit d'accès à la Plateforme ne vous accorde aucun droit de télécharger ou de stocker des éléments exclusifs sur quelque support que ce soit.

            ProNetwork se réserve tous les droits de propriété intellectuelle sur les éléments exclusifs, autres que ceux spécifiquement accordés dans le cadre de la licence applicable qui vous est accordée en vertu des présentes conditions d'utilisation. Aucun affichage, copie, transmission, retransmission, distribution, redistribution, publication, republication, décompilation, désassemblage, ingénierie inverse ou autrement reproduction, stockage, transmission, modification ou exploitation commerciale de tout matériel exclusif sous quelque forme ou par quelque moyen que ce soit, pour quelque raison que ce soit. à cette fin, est autorisée sans notre autorisation écrite expresse.

            L'ensemble de la Plateforme est protégé par le droit d'auteur. Le respect de toutes les lois applicables en matière de droits d'auteur relève de votre responsabilité. Si vous donnez des commentaires sur la Plateforme, par exemple des recommandations d'améliorations ou de fonctionnalités, ces commentaires seront considérés comme non confidentiels et non exclusifs, et la mise en œuvre de ces commentaires nous appartient et peut faire partie de la Plateforme sans compensation pour vous. Nous nous réservons tous les droits sur la Plateforme, sauf indication contraire expresse de notre part.

            Les autres marques commerciales, marques de service et logos utilisés sur la Plateforme sont les marques commerciales, marques de service ou logos de leurs propriétaires respectifs. ProNetwork utilise ces marques commerciales, marques de service ou logos tiers avec l'autorisation du propriétaire de la marque ou à des fins d'identification uniquement.

            Nous pouvons, dans des circonstances appropriées et à notre seule discrétion, supprimer ou désactiver l'accès à tout élément de la Plateforme qui, selon nous (ou dont nous sommes informés), pourrait porter atteinte aux droits d'autrui.

            <br/><br/><b>Contenu généré par l'utilisateur</b><br/><br/>

            Dans les présentes Conditions d'utilisation, « Contenu généré par l'utilisateur » désigne le matériel (y compris, sans limitation, le texte, les images, le matériel audio, le matériel vidéo et le matériel audiovisuel) que vous soumettez à la Plateforme, à quelque fin que ce soit.

            Vous nous accordez une licence mondiale, irrévocable, non exclusive et libre de droits pour utiliser, reproduire, adapter, publier, traduire, communiquer, exécuter publiquement, afficher publiquement et distribuer votre contenu généré par l'utilisateur. Vous nous accordez également le droit de sous-licencier ces droits et le droit d'intenter une action en justice pour violation de ces droits. Les droits que vous accordez dans cette licence ont pour but limité d'exploiter, de promouvoir et d'améliorer la Plateforme.

            Votre contenu généré par l'utilisateur ne doit pas être illégal ou illicite, ne doit pas enfreindre les droits légaux d'un tiers et ne doit pas être susceptible de donner lieu à des poursuites judiciaires contre vous, contre nous ou contre un tiers (dans chaque cas, en vertu de toute loi applicable). Vous ne devez soumettre à la Plateforme aucun Contenu généré par l’utilisateur qui fait ou a déjà fait l’objet d’une menace ou d’une procédure judiciaire réelle ou d’une autre plainte similaire.

            Nous nous réservons le droit de modifier ou de supprimer tout matériel soumis à la Plateforme, ou stocké sur nos serveurs, ou hébergé ou publié sur la Plateforme. Nonobstant nos droits en vertu des présentes Conditions d'utilisation concernant le contenu généré par l'utilisateur, nous ne nous engageons pas à surveiller la soumission d'un tel contenu ou la publication d'un tel contenu sur la Plateforme.

            <br/><br/><b>Utilisation acceptable</b><br/><br/>

            Il ne faut pas:

            <br/>Utiliser la Plateforme d'une manière qui cause, pourrait raisonnablement causer ou est destinée à causer des dommages à la Plateforme ou une altération de la disponibilité ou de l'accessibilité de la Plateforme ; ou de toute manière illégale, frauduleuse ou préjudiciable, ou en relation avec tout objectif ou activité illégal, frauduleux ou préjudiciable.
            <br/>Utiliser la Plateforme pour copier, stocker, héberger, transmettre, envoyer, utiliser, publier ou distribuer tout matériel qui consiste en (ou est lié à) un logiciel espion, un virus informatique, un cheval de Troie, un ver, un enregistreur de frappe, un rootkit ou autre malware. logiciel.
            <br/>Mener toute activité de collecte de données systématique ou automatisée (y compris, sans limitation, le grattage, l'exploration de données, l'extraction de données et la collecte de données) sur ou en relation avec notre Plateforme sans notre consentement écrit exprès.
            <br/> Republier du matériel de la Plateforme (y compris la republication sur un autre site Web)
            <br/>Vendre, louer ou sous-licencier du matériel de la Plateforme
            <br/>Reproduire, dupliquer, copier ou exploiter de toute autre manière le matériel de notre Plateforme à des fins commerciales
            <br/>Développer, prendre en charge ou utiliser des logiciels, des appareils, des scripts, des robots ou tout autre moyen ou processus (y compris les robots d'exploration, les plug-ins et modules complémentaires de navigateur ou toute autre technologie) pour supprimer la Plateforme ou copier de toute autre manière des profils et d'autres données de la Plateforme.
            <br/>Supprimer ou modifier tout droit d'auteur, marque commerciale, mentions légales ou autres mentions exclusives des éléments exclusifs ou de tout autre contenu disponible sur la plateforme ;
            <br/>Violer ou tenter de violer les mécanismes de sécurité de la Plateforme, tenter d'obtenir un accès non autorisé à la Plateforme ou aider d'autres personnes à le faire, ou violer de toute autre manière la sécurité de la Plateforme ou corrompre la Plateforme de quelque manière que ce soit.
            <br/>Nous nous réservons le droit de surveiller l'utilisation de la Plateforme et de suspendre, révoquer, refuser, désactiver ou mettre fin à votre accès si vous violez l'une des dispositions des présentes Conditions d'utilisation ou si votre comportement dépasse les limites raisonnables, telles que déterminées à notre seule discrétion.

            <br/><br/><b>Déclaration de garantie</b><br/><br/>

            NOUS NE GARANTISSONS PAS L'EXHAUSTIVITÉ OU L'EXACTITUDE DES INFORMATIONS PUBLIÉES SUR LA PLATEFORME ; NOUS NE NOUS ENGAGEONS PAS NI À GARANTIR QUE LA PLATEFORME RESTE DISPONIBLE OU QUE LE MATÉRIEL SUR LA PLATEFORME EST MAINTENU À JOUR.

            <br/>L'UTILISATION DE LA PLATEFORME EST À VOS PROPRES RISQUES. LA PLATEFORME EST FOURNIE « EN L'ÉTAT » ET « SELON LA DISPONIBILITÉ ». ProNetwork ET SES FILIALES, FOURNISSEURS ET PARTENAIRES DÉCLINENT EXPRESSÉMENT TOUTE GARANTIE DE QUELQUE SORTE, EXPRESSE OU IMPLICITE, Y COMPRIS, MAIS SANS LIMITATION, LES GARANTIES IMPLICITES DE TITRE, DE QUALITÉ MARCHANDE, D'ADAPTATION À UN USAGE PARTICULIER ET DE NON-VIOLATION.
            ProNetwork ET SES FILIALES, FOURNISSEURS ET PARTENAIRES N'OFFRENT AUCUNE GARANTIE QUE (i) LA PLATEFORME OU TOUT PRODUIT ACHETÉ PAR L'INTERMÉDIAIRE DE LA PLATEFORME RÉPONDRA À VOS EXIGENCES ; (ii) LA PLATEFORME SERA ININTERROMPUE, OPPORTUNE, SÉCURISÉE OU SANS ERREUR ; OU (iii) QU'IL N'Y AURA AUCUNE ERREUR DANS LA PLATEFORME OU QUE ProNetwork CORRIGERA TOUTE ERREUR. TOUS LES MATÉRIAUX OBTENUS GRÂCE À L'UTILISATION DE LA PLATEFORME SONT OBTENUS À VOTRE PROPRE DISCRÉTION ET RISQUES ET ProNetwork NE SERA PAS RESPONSABLE DE TOUT DOMMAGE CAUSÉ À VOTRE ORDINATEUR OU DONNÉES OU DE TOUT BOGUE, VIRUS, CHEVAUX DE TROIE OU AUTRE CODE DESTRUCTEUR RÉSULTANT DE L'UTILISATION DU PLATEFORME OU TOUT CONTENU OBTENU DE LA PLATEFORME.

            <br/>CERTAINS ÉTATS N'AUTORISENT PAS L'EXCLUSION DE GARANTIES IMPLICITES, DONC L'EXCLUSION CI-DESSUS PEUT NE PAS S'APPLIQUER À VOUS. VOUS POUVEZ ÉGALEMENT AVOIR D'AUTRES DROITS LÉGAUX, QUI VARIENT D'UN ÉTAT À L'AUTRE.

            <br/><br/><b>Liens vers d'autres sites</b><br/><br/>

            La Plateforme peut contenir des liens vers d’autres sites Web que nous ne possédons ni ne contrôlons. Nous ne sommes responsables d’aucun de ces autres sites Web et tout lien vers ces autres sites Web ne doit pas être interprété comme une approbation d’une entreprise, d’un contenu ou d’un produit. Nous ne sommes responsables envers vous d’aucun aspect de ces autres sites Web, y compris leur contenu, leurs politiques de confidentialité ou quoi que ce soit d’autre. Vous pouvez être exposé à des éléments sur d’autres sites Web que vous n’aimez pas ou que vous trouvez offensants. Nous n’en sommes pas non plus responsables. Vous devez faire preuve de votre propre discrétion lorsque vous visitez d’autres sites Web. Vous devez également lire les termes et conditions et les politiques de confidentialité de ces autres sites Web.

           <br/> <br/><b>Contrôles à l'exportation</b><br/><br/>

            La Plateforme peut être soumise aux lois et réglementations en matière d'exportation des États-Unis et d'autres juridictions. Chaque parti déclare qu’il ne figure sur aucune liste de partis refusés par le gouvernement américain. Vous ne devez pas accéder ou utiliser la Plateforme dans un pays soumis à un embargo américain ou en violation de toute loi ou réglementation américaine en matière d'exportation.

            <br/><br/><b>Conditions générales</b><br/><br/>

            Non renonciation.<br/><br/> Le défaut par ProNetwork d’appliquer une ou plusieurs dispositions des présentes conditions d’utilisation ne sera pas interprété comme une renonciation à toute disposition ou à tout droit.

            <br/><br/>Divisibilité.<br/><br/> Si une disposition des présentes conditions d'utilisation s'avère illégale, nulle ou inapplicable, cette disposition sera alors considérée comme séparable des présentes conditions d'utilisation et n'affectera pas la validité et le caractère exécutoire des dispositions restantes des présentes conditions d'utilisation.

            <br/><br/>Loi applicable et juridiction.<br/><br/> Ces conditions d'utilisation, ainsi que toutes les réclamations ou causes d'action (qu'elles soient contractuelles, délictuelles ou statutaires) qui peuvent être basées sur, découler de ou se rapporter à ces conditions d'utilisation, ou à l'exécution en vertu de ces conditions d'utilisation, sont régi par et sera interprété et appliqué conformément aux lois de l'État de Washington, y compris ses délais de prescription, sans référence à (i) tout conflit de principes de lois qui appliqueraient les lois substantielles d'une autre juridiction aux droits des parties ou des droits, (ii) la Convention des Nations Unies sur les contrats de vente internationale de marchandises, ou (iii) d'autres lois internationales. Toute action ou autre procédure judiciaire pour l'application des présentes conditions d'utilisation ou de l'une de ses dispositions doit être intentée uniquement devant les tribunaux de l'État de Washington.

            <br/><br/>Conformité aux demandes légales.<br/><br/> Sans limiter ce qui précède, nous avons le droit de coopérer pleinement avec toute procédure judiciaire valide émanant d'une autorité chargée de l'application de la loi compétente qui nous demande ou nous ordonne de divulguer des données client ou d'autres informations sur la Plateforme. VOUS RENONCEZ ET NOUS TENONS INdemnes, ainsi que nos AFFILIÉS, TITULAIRES DE LICENCES ET FOURNISSEURS DE SERVICES, DE TOUTE RÉCLAMATION RÉSULTANT DE TOUTE MESURE PRISE PAR NOUS OU L'UNE DES PARTIES PRÉCÉDENTES PENDANT OU À LA SUITE DE SES ENQUÊTES ET DE TOUTES MESURES PRISES EN CONSÉQUENCE DES ENQUÊTES PAR SOIT NOUS, CES PARTIES OU LES AUTORITÉS APPLICATION DE LA LOI.

            <br/><br/>Limitation de responsabilité.<br/><br/> DANS TOUTE LA MESURE PERMISE PAR LA LOI, ProNetwork ET SES FILIALES, FOURNISSEURS ET PARTENAIRES N'ONT AUCUNE OBLIGATION OU RESPONSABILITÉ (QUE CE SOIT DÉCOULANT D'UN CONTRAT, D'UNE GARANTIE, D'UN DÉLIT (Y COMPRIS LA NÉGLIGENCE), DE LA RESPONSABILITÉ DU PRODUIT OU AUTRE) POUR TOUTE MESURE INDIRECTE, ACCESSOIRE, SPÉCIALE, PUNITIVE, OU DOMMAGES OU RESPONSABILITÉS CONSÉCUTIFS (Y COMPRIS, MAIS SANS LIMITATION, TOUTE PERTE DE DONNÉES, DE REVENUS OU DE PROFITS) DÉCOULANT DE OU LIÉS À VOTRE UTILISATION DE LA PLATEFORME OU DE TOUT CONTENU FOURNI PAR OU PAR LA PLATEFORME, MÊME SI NOUS AVONS ÉTÉ INFORMÉS DE LA POSSIBILITÉ DE TELS DOMMAGES À L'AVANCE. CERTAINS ÉTATS N'AUTORISENT PAS LA LIMITATION OU L'EXCLUSION DES DOMMAGES ACCESSOIRES, CONSÉCUTIFS OU AUTRES TYPES, DONC CERTAINES DES LIMITATIONS CI-DESSUS PEUVENT NE PAS S'APPLIQUER À VOUS. NONOBSTANT TOUTE DISPOSITION CONTRAIRE CONTENUE DANS LES PRÉSENTES, LA RESPONSABILITÉ DE ProNetwork ET LA RESPONSABILITÉ DE CHACUN DE SES DIRIGEANTS, DIRECTEURS, INVESTISSEURS, EMPLOYÉS, AGENTS, ANNONCEURS, CONCÉDANTS DE LICENCES, FOURNISSEURS, FOURNISSEURS DE SERVICES ET AUTRES ENTREPRENEURS ENVERS VOUS OU TOUT TIERS EN TOUTE CIRCONSTANCE EST LIMITÉE À UN MONTANT MAXIMUM DE 100$.

            <br/><br/>Indemnité.<br/><br/> Vous acceptez d'indemniser et de dégager ProNetwork et ses sociétés affiliées, fournisseurs, partenaires, dirigeants, agents et employés de toute réclamation, demande, perte, dommage ou dépense (y compris les honoraires d'avocat raisonnables) découlant de tout contenu généré par l'utilisateur, de votre utilisation. de la Plateforme, votre connexion à la Plateforme, votre violation des présentes Conditions d'utilisation ou votre violation de tout droit d'un tiers.

            <br/><br/>Redressement équitable.<br/><br/> Vous reconnaissez qu'une violation des présentes Conditions d'Utilisation peut nous causer un dommage irréparable, pour lequel l'octroi de dommages-intérêts ne constituerait pas une compensation adéquate. Par conséquent, vous acceptez que nous puissions intenter une action pour vous interdire tout acte en violation de ces dispositions, dont le recours sera cumulatif et non exclusif, et nous pouvons demander l'introduction d'une injonction interdisant toute violation ou menace de violation de ces dispositions. dispositions, en plus de tout autre allègement auquel nous pourrions avoir droit en droit ou en équité.

            <br/><br/>Affectation.<br/><br/> Nous pouvons librement transférer ou céder toute partie de nos droits ou déléguer nos obligations en vertu des présentes conditions d'utilisation. Vous ne pouvez pas céder ou autrement transférer vos droits, obligations ou devoirs en vertu des présentes conditions d'utilisation, en tout ou en partie.

            DMCA. ProNetwork a pour politique de traiter et d'enquêter rapidement sur les avis de violation présumée du droit d'auteur et de prendre les mesures appropriées en vertu du Digital Millennium Copyright Act, titre 17, Code des États-Unis, section 512 (« DMCA »). Si vous êtes titulaire d'un droit d'auteur, autorisé à agir en son nom ou autorisé à agir en vertu de tout droit exclusif en vertu du droit d'auteur, veuillez signaler les violations présumées du droit d'auteur ayant lieu sur ou via la plateforme en fournissant les informations suivantes à l'agent de droit d'auteur désigné de ProNetwork :

            Identifiez l'œuvre protégée par le droit d'auteur qui, selon vous, a été violée ou, si plusieurs œuvres protégées par le droit d'auteur sont couvertes par cet avis de violation présumée DMCA (« Avis »), vous pouvez fournir une liste représentative des œuvres protégées par le droit d'auteur qui, selon vous, ont été violées ;
            Identifiez le matériel ou le lien qui, selon vous, est en infraction (ou fait l'objet d'une activité contrefaite) et dont l'accès doit être désactivé, y compris au minimum, le cas échéant, l'URL du lien affiché sur la Plateforme ou l'emplacement exact où ce matériel Peut être trouvé;
            Indiquez l'affiliation de votre entreprise (le cas échéant), votre adresse postale, votre numéro de téléphone et, si disponible, votre adresse e-mail ;
            Incluez les déclarations suivantes dans le corps de l’avis :
            "Je déclare par la présente que je crois de bonne foi que l'utilisation contestée du matériel protégé par le droit d'auteur n'est pas autorisée par le propriétaire du droit d'auteur, son agent ou la loi (par exemple, en tant qu'utilisation équitable)."
            «Je déclare par la présente que les informations contenues dans cet avis sont exactes et, sous peine de parjure, que je suis le propriétaire, ou autorisé à agir au nom du propriétaire, du droit d'auteur ou d'un droit exclusif sur le droit d'auteur qui aurait été violé. .»
            Fournissez votre nom légal complet et votre signature électronique ou physique.
            L'avis, avec tous les éléments complétés, peut être remis à l'agent de droits d'auteur désigné de ProNetwork par courrier électronique à dmca@pronetwork.cd

        </p>
    </div>
</div>
{% endblock %}
