<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="s003">
      <h1 style="text-align: center; width: 47%; color: #64CCC5" >
        <a style="color: #64CCC5; text-decoration: none" href="{{ path('app_main') }}" >ProNetwork</a>
        <span style="font-weight: normal; font-size: 10px; color: #000" >RDC</span>
      </h1>
      <span style="font-weight: normal; font-size: 15px; color: #000; margin-bottom: 2rem" >Annuaire des entreprises et Professionnels de la République Démocratique du Congo</span> 
      <form method="GET" action="{{ path('app_search') }}" >
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="filter">
                <option value="companies" >Entreprises</option>
                <option value="contacts" >Professionnels</option>
              </select>
            </div>
          </div>
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="provinces">
                <option value="Toutes" >Provinces</option>
                <option value="Kinshasa" >Kinshasa</option>
                <option value="Haut-Katanga" >Haut-Katanga</option>
                <option value="Nord-Kivu" >Nord-Kivu</option>
                <option value="Sud-Kivu" >Sud-Kivu</option>
                <option value="Maniema" >Maniema</option>
                <option value="Haut-Uele" >Haut-Uele</option>
                <option value="Bas-Uele" >Bas-Uele</option>
                <option value="Kongo-Central" >Kongo-Central</option>
                <option value="Kasai-Central" >Kasai-Central</option>
                <option value="Kasai-Oriental" >Kasai-Oriental</option>
                <option value="Kasai" >Kasai</option>
                <option value="Lualaba" >Lualaba</option>
                <option value="Lomami" >Lomami</option>
                <option value="Tanganyika" >Tanganyika</option>
                <option value="Nord-Ubangi" >Nord-Ubangi</option>
                <option value="Sud-Ubangi" >Sud-Ubangi</option>
                <option value="Tshopo" >Tshopo</option>
                <option value="Tshuapa" >Tshuapa</option>
                <option value="Maindombe" >Maindombe</option>
                <option value="Kwilu" >Kwilu</option>
                <option value="Kwanngo" >Kwanngo</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input id="search" name="search" type="text" placeholder="Recherche..." />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <div class="stats" >
        <div class="stats-item">
            <h4>{{ companies | number_format(0, '.', ' ') }} Entreprises</h4>
        </div>
        <div class="stats-item" style="background-color: #E9B824" >
            <h4>{{ contacts | number_format(0, '.', ' ') }} Contacts</h4>
        </div>
        <div class="stats-item">
            <h4>120 Secteurs</h4>
        </div>
      </div>
      <div style="text-align: center;margin-top: 2rem" >
        <a style="font-size: 11px; text-align: center" href="/removal" ><i class="fa-solid fa-trash-can"></i> Supprimer mes infos </a><br/><br/>
        <a style="font-size: 11px; text-align: center;" href="/cgu" ><i class="fa-solid fa-file-signature"></i> (CGU) Conditions Générales d'utilisation </a>
        <p style="font-size: 11px; text-align: center" >© 2023 ProNetwork</p>
      </div>
    </div>
    <script src="js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
  </body>
</html>
